* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: #0b0b0b;
    overflow-x: hidden;
}

.header-container {
    position: relative;
    /* max-width: 98%; */
    width: 100%;
    min-height: 100vh;
    background-color: #0b0b0b;
    overflow: hidden;
    /* border-bottom-right-radius: 10px; */
}

header {
    position: absolute;
    z-index: 2;
    max-width: 1190px;
    width: 100%;
    /* right: 10%; */
    left: 50%;
    transform: translate(-50%);
    padding: 10px 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.half-lg-m,
.half-la-p {
    display: flex;
    align-items: center;
}

.burger-menu {
    display: none;
}

.logo span {
    font-size: 24px;
    font-family: "oswald-regular";
    color: #ffffff;
    user-select: none;
    cursor: pointer;
}

.header-nav {
    margin-left: 35px;
}

.header-nav ul {
    display: flex;
}

.header-nav ul li {
    margin: 15px;
}

.header-nav ul li a {
    font-size: 18px;
    font-family: "ubuntu-regular";
    color: #cccccd;
    text-decoration: none;
    transition-duration: 0.4s;
}

.header-nav ul li a:hover {
    color: #fff;
}

.page-language {
    margin-right: 20px;
    margin-top: 20px;
}

.page-language span div {
    font-size: 12.53px;
    font-family: "ubuntu-regular";
    color: #ffffff;
}

.page-language span img {
    width: 16px;
    filter: invert(97%) sepia(14%) saturate(299%) hue-rotate(217deg) brightness(119%) contrast(100%);
    transform: rotate(270deg);
    margin-top: -1px;
}

.profile {
    display: flex;
    align-items: center;
}

.avatar {
    position: relative;
    display: block;
    float: left;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 25px;
}

.avatar span {
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin: 7px;
}

.avatar span img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
}

.avatar::before {
    content: "";
    position: absolute;
    right: -15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    z-index: 1;
    margin: 9px 0 0;
}

.avatar:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: none;
    padding: 5px;
    border: 2px solid#29221e;
    border-radius: 50%;
}

.profile-inf {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.person-name {
    display: block;
    font-family: "ubuntu-regular";
    font-size: 14px;
    color: #fff;
}

.notifications {
    margin-top: 5px;
    font-family: "ubuntu-regular";
    font-size: 12px;
    color: #fff;
}

.notifications img {
    width: 14px;
    filter: invert(97%) sepia(14%) saturate(299%) hue-rotate(217deg) brightness(119%) contrast(100%);
    float: left;
    margin-right: 5px;
}


/*slider*/

.item-slider {
    position: relative;
    display: none;
}

.active-slider {
    display: block;
    height: 100%;
}

.active-slider img {
    object-fit: cover;
}

.slider-wall {
    position: relative;
    height: 650px;
    min-height: 100vh;
    overflow: hidden;
}

.slider-image {
    width: 100%;
    object-fit: cover;
    height: 100%;
    animation: imageAnime 45s infinite alternate;
    animation-delay: 1s;
}

.content-position {
    position: absolute;
    max-width: 1190px;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
    bottom: 0%;
}

.slider-content {
    position: absolute;
    max-width: 1050px;
    width: 100%;
    bottom: 44%;
    animation: slider 0.5s;
}

.slider-content h2 {
    color: #fff;
    font-size: 77.17px;
    font-family: "ubuntu-bold";
}

.slider-content h2 span {
    font-size: 58.49px;
    font-family: "ubuntu-bold";
    color: #dfdfdf;
}

.slider-info {
    display: flex;
    position: absolute;
    max-width: 1050px;
    width: 100%;
    top: 85%;
    animation: sliderUp 0.5s;
}

.slider-info span {
    margin: 20px;
    font-family: "oswald-regular";
    font-size: 18px;
    color: #fff;
}

.slider-info-title {
    color: #8f8f8f;
    margin-bottom: 5px;
}

.slider-buttons {
    position: absolute;
    max-width: 1050px;
    width: 100%;
    top: 65%;
    animation: sliderUp 0.5s;
}

.play {
    position: relative;
    margin-right: 20px;
    width: 147px;
    height: 46px;
    text-align: center;
    background: none;
    background-image: url("../images/play-button.png");
    font-family: "ubuntu-bold";
    font-size: 17px;
    color: #000814;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.play:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    padding: 5px;
    margin-left: -5px;
    margin-top: -5px;
    top: 0;
    left: 0;
    border-radius: 60px;
    transition: 0.3s all ease-in;
}

.play:hover {
    transform: scale(0.9);
}

.play:hover:after {
    border: 1px solid #ffc300;
}

.read {
    width: 147px;
    height: 46px;
    text-align: center;
    background: none;
    font-family: "ubuntu-bold";
    font-size: 17px;
    color: #fff;
    border: 2px solid#fff;
    border-radius: 60px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.read:hover {
    background-color: #fff;
    color: black;
}

.pagination-slider {
    position: absolute;
    bottom: 30px;
    right: 5%;
}

.paginations {
    float: left;
}

.pag {
    position: relative;
    float: left;
    margin: 10px;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.pag:hover {
    transition: 0.9s;
    background-color: #ffc300;
}

.active-pagination {
    background-color: #ffc300;
}


/* .pag:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  padding: 5px;
  border-radius: 50%;
  background: none;
  border: 1px solid transparent;
  transition: 0.5s;
}

.pag:hover:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: none;
  border: 1px solid #ffc300;
}

.active-pagination:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: none;
  border: 1px solid #ffc300;
} */

@keyframes slider {
    0% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: translateX(100%);
    }
    10% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: translateX(90%);
    }
    20% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: translateX(80%);
    }
    30% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: translateX(70%);
    }
    40% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: translateX(60%);
    }
    50% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: translateX(50%);
    }
    60% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: translateX(40%);
    }
    100% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: translateX(0%);
    }
}

@keyframes sliderUp {
    0% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: translateY(100%);
    }
    10% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: translateY(90%);
    }
    20% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: translateY(80%);
    }
    30% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: translateY(70%);
    }
    40% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: translateY(60%);
    }
    50% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: translateY(50%);
    }
    60% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: translateY(40%);
    }
    100% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: translateY(0%);
    }
}

@keyframes imageAnime {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}


/*swiper*/

.preview {
    position: relative;
    overflow: hidden;
    height: 150px;
}

.preview img {
    width: 110%;
    min-height: 150px;
    transition-duration: 0.6s;
}

.preview:hover img {
    transform: scale(1.2);
}

.preview h2 {
    position: absolute;
    bottom: 17px;
    margin-left: 15px;
    margin-right: 10px;
    font-size: 16px;
    font-family: "ubuntu-regular";
    color: #fff;
    transition-duration: 0.6s;
}

.preview:hover h2 {
    transform: translateY(-10px);
}


/*main-content*/

.main-content {
    position: relative;
    overflow-x: hidden;
}

.main-content:before {
    content: "";
    position: absolute;
    top: 200px;
    left: -50px;
    width: 159px;
    height: 175px;
    background-image: url("../images/bg-tool.png");
}

.main-content:after {
    content: "";
    position: absolute;
    top: 390px;
    right: 0;
    margin-right: -40px;
    width: 159px;
    height: 175px;
    background-image: url("../images/bg-tool.png");
    transform: rotate(70deg);
}

.content-wall {
    max-width: 1190px;
    width: 100%;
    margin: auto;
    padding: 10px 0px;
}

.game-block {
    margin: 90px 0 120px;
    overflow: hidden;
}

.block-headings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 37px;
}

.t-f {
    display: flex;
    align-items: center;
}

.block-title {
    float: left;
    font-size: 36px;
    font-family: "ubuntu-bold";
    color: #fff;
}

.block-filter-cats {
    float: left;
    margin-top: 5px;
    margin-left: 25px;
}

.block-filter-cats span {
    margin-right: 20px;
    font-size: 18px;
    font-family: "ubuntu-regular";
    color: #fff;
    opacity: 0.51;
    cursor: pointer;
    transition-duration: 0.3s;
}

.block-filter-cats span:hover {
    color: #e5d430;
    opacity: 1;
}

.prew {
    float: left;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    outline: none;
    border: 2px solid#a9a9a9;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.prew img {
    width: 30px;
    filter: invert(86%) sepia(0%) saturate(3183%) hue-rotate(18deg) brightness(74%) contrast(117%);
}

.next {
    float: left;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    outline: none;
    border: 2px solid#fbe61b;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.next img {
    width: 30px;
    transform: rotate(180deg);
    filter: invert(94%) sepia(43%) saturate(4203%) hue-rotate(339deg) brightness(102%) contrast(97%);
    outline: none;
}

.game-swiper {
    overflow: hidden;
}

.game {
    position: relative;
    overflow: hidden;
    height: 300px;
    border-radius: 10px;
}

.game img {
    width: 100%;
    height: 300px;
}

.game:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0;
    box-shadow: 0px -50px 40px 1px black inset;
}

.game h2 {
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "ubuntu-bold";
    font-size: 24px;
    color: #fff;
    z-index: 1;
}

.news-content {
    display: flex;
    flex-wrap: wrap;
}

.firs-child-news {
    position: relative;
    width: 23.5%;
    height: 480px;
    border-radius: 6px;
    overflow: hidden;
}

.poster-first-child {
    position: absolute;
    height: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.firs-child-news:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px -35px 90px 1px black inset;
}

.content-f-news {
    position: absolute;
    bottom: 29px;
    z-index: 1;
    color: #fff;
    margin: 0 35px;
}

.content-f-news h2 {
    font-size: 25px;
    font-family: "ubuntu-regular";
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(110, 110, 110);
    margin-bottom: 20px;
}

.info-f {
    display: flex;
    justify-content: space-between;
    font-family: "ubuntu-regular";
    font-size: 18px;
}

.info-f span img {
    float: left;
    width: 15px;
    filter: invert(97%) sepia(14%) saturate(299%) hue-rotate(217deg) brightness(119%) contrast(100%);
    margin-right: 15px;
    margin-top: 2.5px;
}

.second-child-news {
    display: flex;
    flex-wrap: wrap;
    width: 77.5%;
    margin-left: -15px;
}

.sc-children-news {
    position: relative;
    display: flex;
    width: 28.39%;
    height: 220px;
    margin-left: 45px;
    margin-bottom: 40px;
    border-radius: 6px;
    overflow: hidden;
}

.sc-children-img {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.sc-children-news:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.content-s-news {
    position: absolute;
    bottom: 15px;
    z-index: 1;
    color: #fff;
    margin: 0 12%;
    width: 76%;
}

.content-s-news h2 {
    font-size: 18px;
    font-family: "ubuntu-regular";
    color: #ddd;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(110, 110, 110);
    margin-bottom: 10px;
}

.info-s {
    display: flex;
    justify-content: space-between;
    font-family: "ubuntu-regular";
    font-size: 18px;
}

.info-s span img {
    float: left;
    width: 15px;
    filter: invert(97%) sepia(14%) saturate(299%) hue-rotate(217deg) brightness(119%) contrast(100%);
    margin-right: 15px;
    margin-top: 2.5px;
}

.topgame {
    display: block;
    float: left;
    width: 20%;
}

.topGame-swiper {
    width: 80%;
    overflow: hidden;
    float: right;
    padding-bottom: 56px;
}

.topgame-title {
    display: block;
    float: none;
}

.t-t {
    display: block;
}

.topgame-arrows {
    margin-top: 90px;
}

.block-description {
    margin-top: 30px;
    margin-right: 20px;
    font-size: 20px;
    font-family: "ubuntu-bold";
    color: rgb(173, 173, 173);
}

.topgame-pagination {
    margin-top: 30px;
}

.swiper-pagination-bullet {
    margin: 0 15px !important;
    width: 5px;
    height: 5px;
    background: #fff;
    opacity: 1;
    outline: none;
}

.swiper-pagination-bullet-active {
    position: relative;
    padding: 2px;
    background: #fbe61b;
}

.swiper-pagination-bullet-active:after {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid#fbe61b;
}

.subscribe {
    background: url("../images/cover-subscribe.png");
    overflow: hidden;
    background-size: cover;
    height: 556px;
}

.subscribe-form {
    max-width: 1190px;
    width: 100%;
    margin: auto;
    margin-top: 200px;
}

.form-s {
    width: 40%;
    float: right;
}

.form-s h2 {
    font-family: "ubuntu-bold";
    font-size: 48px;
    color: #ffffff;
}

.sub-input {
    margin-top: 30px;
    width: 90%;
    padding: 10px;
    font-size: 24px;
    font-family: "ubuntu-regular";
    color: #fff;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid#fff;
}

.sub-input::placeholder {
    color: #fff;
}

.send-subscribe {
    float: right;
    margin-top: -35px;
    width: 60px;
    height: 60px;
    background: #fff;
    outline: none;
    border-radius: 50%;
    border: none;
}

.send-subscribe img {
    transform: rotate(180deg);
    width: 40px;
}


/*footer*/

footer {
    margin-top: 50px;
}

.sec-1-footer,
.sec-2-footer {
    max-width: 1190px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.ft-sc-1 {
    width: 25%;
}

.ft-sc-1 h2 {
    font-size: 24px;
    font-family: "ubuntu-bold";
    color: #c7c7c7;
}

.social {
    margin-top: 15px;
}

.social span {
    margin-right: 20px;
    float: left;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid#848484;
    transition-duration: 0.3s;
    cursor: pointer;
}

.social span img {
    filter: invert(50%) sepia(2%) saturate(0%) hue-rotate(135deg) brightness(102%) contrast(98%);
    transition-duration: 0.3s;
}

.social span:hover {
    border: 1px solid#fff;
}

.social span:hover img {
    filter: none;
}

.ft-sc-2 {
    width: 40%;
    font-size: 20px;
    font-family: "ubuntu-bold";
    color: #6b6b6b;
}

.ft-sc-3 {
    font-size: 24px;
    font-family: "ubuntu-bold";
    color: #a4a4a4;
}

.ft-sc-3 img {
    float: right;
    width: 20px;
    margin: 3px;
    transform: rotate(270deg);
    filter: invert(97%) sepia(14%) saturate(299%) hue-rotate(217deg) brightness(119%) contrast(100%);
}

.ft-sc-4 ul li {
    margin-bottom: 3px;
}

.ft-sc-4 ul li a {
    font-size: 24px;
    font-family: "ubuntu-bold";
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
    transition-duration: 0.3s;
}

.ft-sc-4 ul li a:hover {
    opacity: 1;
}

.sec-2-footer {
    margin-top: 40px;
    border-top: 1px solid#161616;
    padding-top: 20px;
    margin-bottom: 25px;
}

.m-p {
    font-size: 20px;
    font-family: "ubuntu-bold";
    color: #fff;
}

.powered {
    font-size: 20px;
    font-family: "ubuntu-bold";
    color: #353535;
}